# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual envs
.venv/
venv/
env/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/
*.swp

# Output de prologviz
*.trace.html

# OS
.DS_Store
Thumbs.db
